#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 500px;  /* or as desired */
  width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}

.jumbotron-fluid h1 {
   font-size: 2em;
   color: white;
}

.jumbotron-fluid {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(183, 21, 21);
}

.label{
  size="15"
}

#menu {
  background-color: rgb(233, 236, 239);
}

.card {
  margin: 1rem;
}

#dropdown {
  list-style-type:none
}

.dropdown-toggle::after {
    margin-left: .45em;
    vertical-align: middle;
}

#uploadTab, #verifyDigTab, #verifyGeoTab {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#welcomeDescription {
  color: white;
}

#mapHeading {
  padding-top: 15px;
}





/*snackbar*/

#snackbar {
    visibility: hidden;
    background-color: rgb(233, 236, 239);
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    bottom: 30px;
    width:50%;
    bottom: 30px;
    left: 25%;
}


#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
}

#snackbar.hide {
    -webkit-animation: fadeout 0.5s 2.5s;
    animation: fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
