#map {
  position: relative;
  border: 1px solid black;
  border-radius: 8px;
  height: 500px;  /* or as desired */
  width: 100%;  /* This means "100% of the width of its container", the .col-md-8 */
}

.jumbotron-fluid h1 {
   font-size: 2em;
   color: white;
}

.jumbotron-fluid {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(183, 21, 21);
}

.label{
  size="15"
}

#menu {
  background-color: rgb(233, 236, 239);
}

.card {
  margin: 1rem;
}

#dropdown {
  list-style-type:none
}

.dropdown-toggle::after {
    margin-left: .45em;
    vertical-align: middle;
}

#uploadTab, #verifyDigTab, #verifyGeoTab {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#welcomeDescription {
  color: white;
}

#mapHeading {
  padding-top: 15px;
}
